<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <aside>
        <ul>
            <li> Per1</li>
            <li> Per2</li>
            <li> Per3</li>
            <li> Per4</li>
        </ul>
    </aside>
    <section class="element1">
            <img id="img1" src="" alt="">
            <ul id="messages"></ul>
            <p id="hashtag">Hashtag</p>
    </section>
    <section class="element2">
            <img id="img1" src="" alt="">
    </section>

    <section class="element3">
        <p>Hier komt een afbeelding</p>
        <div class="hidden" id="contentWrap">
            <div id="users">
            </div>
            <form class="message" action="">
                <input id="m" autocomplete="off" />
                <button>Send</button>
            </form>
        </div>
    </section>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="../index.js"></script>
</html>